.DS_Store
settings.json
*.dSYM
*.docx
*.pdf
k-combinations
variablescope
callbyvalue
callbyreference
analyzedigits
analyzedigitsv2
quadraticequation
isleapyearf
bmimetricf
primalitytesting1
primalitytesting2
primalitytesting3
runtimeanalysis1
runtimeanalysis2
computingaverage2
maxinlst
maxabsinlst
avgoflst
initconcat
getline
indexingstr
slicing
printbackwards
relationalops
alphaorder
search
bmimetric2
cashregister
callcoster
stringsplitter
chartype
firstword
remainingwords